<div class="wrapper">
    <div class="icon"><img id="left" width="16" height="16" src="https://img.icons8.com/carbon-copy/100/sort-left.png" alt="sort-left"/></div>
    <ul class="tab-box">
        <li class="tab">category</li>
        <li class="tab">category</li>
        <li class="tab">category</li>
        <li class="tab">category</li>
        <li class="tab">category</li>
        <li class="tab">category</li>
        <li class="tab">category</li>
        <li class="tab">category</li>
        <li class="tab">category</li>
        <li class="tab">category</li>
        <li class="tab">category</li>
        <li class="tab">category</li>
        <li class="tab">category</li>
        <li class="tab">category</li>
        <li class="tab">category</li>
    </ul>
    <div class="icon"><img id="right" width="16" height="16" src="https://img.icons8.com/carbon-copy/16/sort-right.png" alt="sort-right"/></div>
</div>

