.staff_home {
    display: flex;
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-image: url('https://bloggybottomboy.files.wordpress.com/2014/08/coffee-shop-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    /* filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px); */
}

.card{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    max-width: 2000px;
}

.staff_checking {
    width: 400px;
    height: 500px;
    background: white;
    padding: 0 20px;
}
.rule {
    width: 400px;
    height: 500px;
    background: white;
}
.contact {
    width: 400px;
    height: 500px;
    background: white;
}
.other {
    width: 400px;
    height: 500px;
    background: white;
}


.form-field {
    position: relative;
    margin-bottom: 20px;
}

.form-input {
    border: 1px solid #eee;
    border-radius: 4px;
    width: 200px;
    height: 56px;
    padding: 0 20px;
    transition: 0.2s ease;

}

.form-input:focus {
    border-color: #1d8104;
    outline-color: #1d8104;
    color: #1d8104;
}

.form-label {
    position: absolute;
    top: 15%;
    transform: translateY(50%);
    left: 100px;
    user-select: none;
    color: #999;
    pointer-events: none;
    transition: .2s ease;
}

.form-input:not(:placeholder-shown)+.form-label,

.form-input:focus+.form-label {
    top: -20px;
    left: 100px;
    padding: 0 5px;
    display: inline-block;
    background-color: white;
}