
<section class="stores">
    <div *ngIf="userStores$ | async as stores; else loading" class="stores-body">
        <div  *ngFor="let store of userStores$ | async ; let i = index"
            (click)="onStoreClick(i)"
            class="stores-card">
            <a class="">
                <div class="">
                    <h3 class="">{{ store.shopname }}</h3>
                    <p>Category: {{ store.category }}</p>
                </div>
                <div class="">
                    <p class="">{{ store.description }}</p>
                    <p>Phone: {{ store.phone }}</p>
                    <p class="">Address: {{ store.address }}</p>
                </div>
            </a>
        </div>
    </div>
    <ng-template #loading>Loading...</ng-template>
</section>
