
<section class="stores">
    <table *ngIf="userStores$ | async as stores; else loading" class="stores-body">
      <thead>
        <tr>
          <th>Shop Name</th>
          <th>Category</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let store of userStores$ | async; let i = index" (click)="onStoreClick(i)" class="stores-card">
          <td>
            <a>
              <h3>{{ store.shopname }}</h3>
            </a>
          </td>
          <td>
            <a>
              <p>{{ store.category }}</p>
            </a>
          </td>
          <td>
            <a>
              <p>{{ store.description }}</p>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #loading>Loading...</ng-template>
  </section>
