<section class="navigation">
    <ul>
        <li>
            <a href="#">
                <span class="icon"><img width="30" height="30" src="https://img.icons8.com/stickers/100/w.png" alt="w"/></span>
                <span class="Title">WICH APP</span>
            </a>
        </li>
        <li>
            <a routerLink="/ohome/store" routerLinkActive="router-link-active">
                <span class="icon"><img width="60" height="60"
                        src="https://img.icons8.com/stickers/100/online-store.png"
                        alt="online-store" /></span>
                <span class="Title">Store</span>
            </a>
        </li>
        <li>
            <a routerLink="/ohome/Employee" routerLinkActive="router-link-active">
                <span class="icon"><img width="60" height="60"
                        src="https://img.icons8.com/stickers/100/conference-background-selected.png"
                        alt="conference-background-selected" /></span>
                <span class="Title">Employee</span>
            </a>
        </li>
        <li>
            <a routerLink="/ohome/finace" routerLinkActive="router-link-active">
                <span class="icon"><img width="60" height="60"
                        src="https://img.icons8.com/stickers/100/economic-improvement.png"
                        alt="economic-improvement" /></span>
                <span class="Title">Finace</span>
            </a>
        </li>
        <li>
            <a routerLink="/ohome/setting" routerLinkActive="router-link-active">
                <span class="icon"><img width="60" height="60"
                        src="https://img.icons8.com/stickers/100/gear.png"
                        alt="gear" /></span>
                <span class="Title">Setting</span>
            </a>
        </li>
    </ul>

</section>