<section class="card">
    <div class="flex h-screen">
        <div class="col col-4 bg-bluegray-600 p-0">
            <a routerLink="" class="cursor-pointer no-underline">
                <div
                    class=" text-center text-white font-bold text-md bg-green-600 hover:bg-green-500">Create
                    new Store</div>
            </a>
            <div class=" pt-8 px-5">
                <div class=" text-center text-white">
                    <h2>Store Name</h2>
                </div>
                <div class="w-full h-15rem bg-primary-100">

                </div>
                <div class="text-white mt-5">
                    <p>Address: ...</p>
                    <p>Service: ...</p>
                    <p>Description: ...</p>
                </div>
                <button
                    class=" w-full border-round bg-bluegray-800 text-white px-8 py-3 mt-8 hover:bg-bluegray-600">Go
                    to Store</button>
            </div>
        </div>

        <div class="col col-8 bg-blue-50">

        </div>

    </div>

</section>
