.header{
    min-height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    margin: 10px 8px 0 8px;
    border-radius: 12px;
}

.start{
    display: flex;
    gap: 30px;
}

a{
    display: block;
    font-size: 24px;
    color: rgb(87, 65, 87);
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    color: green;
    border-bottom: 2px green solid;
}

.Logout:hover{
    color: red;
    border-bottom: 2px red solid
}

.brand{
   margin: 0 100px;
   font-size: 28px;
}

.end{
    display: flex;
    gap: 30px;
    align-items: center;
}

.role{
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    margin: 0 15px;
    padding: 0px 12px;
    border-radius: 12px;

}

.ower{
    background-color: #283655;
    color: white;
}

.role:hover{
    color: white;
    border-bottom: 0px;
}

