.error {
    padding: 15px;
    border: 1px solid #f44336;
    background-color: #f8d7da;
    color: #721c24;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    position: relative;
}

.timeline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #f44336;
    animation-name: timeline;
    animation-duration: 3s;
}

@keyframes timeline {
    from {
        width: 0%
    }

    to {
        width: 100%
    }
}



.success-alert {
    padding: 15px;
    border: 1px solid #28a745;
    background-color: #d4edda;
    color: #155724;
    box-shadow: 0 2px 6px rgba(0, 128, 0, 0.3);
    position: relative;

}

.item_component {
    height: 100%;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.item_body {
    padding: 0 30px;
}

.add_bill {
    width: 100%;
    display: flex;
    align-items: center;
}

.add_bill-btn {
    margin: 15px auto;
    border: 0px;
    padding: 12px 24px;
    width: 200px;
    color: white;
    background-color: #283655;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}

.add_bill-btn:hover {
    background-color: #283655e1;
}

.item_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.item_card {
    min-width: 200px;
    box-shadow: 2px 3px 5px #918e8e;
}

img {
    width: 200px;
    height: 200px;
}

.content {
    padding: 5px;
    text-transform: capitalize;
    text-align: center;
}

.paginator {
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item_action {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item_action a:hover {
    background-color: rgba(112, 128, 144, 0.411);
}

.item_action a {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;

}

.item_action button {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 0px;
    background-color: #FFFFFFFF;
    transition: all 0.25;
}

.item_action button:hover {
    background-color: rgba(112, 128, 144, 0.411);
}

.item_action button:disabled {
    background-color: #FFFFFFFF;
}



.item_action a:first-child {
    border-right: 1px solid rgba(112, 128, 144, 0.411);
}

.bill_console {
    background-color: #FFFFFFFF;
    min-height: 800px;
    width: 100%;
    max-width: 400px;
    height: 100%;
    border: 1px solid;
    padding: 70px 20px 20px;
    position: relative;
    display: none;

}



.bill_console.active {
    display: block;
}

.close {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 30px;
    top: 5px;
    transition: all .2s;
}

.close:hover {
    transform: rotate(90deg);
    cursor: pointer;
}

.bill_start img:last-child {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 60px;
}

.print {
    position: absolute;
    height: 25px;
    width: 25px;
    right: 70px;
    transition: all .2s;
    top: 5px;
}

.save-bill {
    position: absolute;
    height: 25px;
    width: 25px;
    right: 110px;
    transition: all .2s;
    top: 5px;
}

.save-bill:hover {
    scale: 1.2;
    cursor: pointer;
    transform: rotate(8deg);
}

.print:hover {
    scale: 1.5;
    cursor: pointer;
}

.bill-end {
    width: 400px;
    height: auto;
}

.line {
    width: 1px;
    height: 25px;
    position: absolute;
    background-color: #28365560;
    right: 63px;
    opacity: 80%;
    top: 5px;
}



.bill_body {
    margin-top: 16px;
    margin-left: 20px;
}

table {
    width: 100%;
    text-align: center;
    margin: 0 15px;
    text-transform: capitalize;
}

caption {
    margin: 30px;
}

h2 {
    text-align: center;
    font-size: 16px;
}

.table_body {
    position: relative;
}

.bill_header {
    width: 100%;
    text-align: center;
    border-bottom: #283655 dashed 1px;
    padding-bottom: 30px;
}



.bill_header h2 {
    font-size: 24px;
    font-weight: bold;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

@media print {

    .bill_console img:first-child {
        position: absolute;
        width: 25px;
        height: 25px;
        right: 30px;
        transition: all .2s;
    }

    .bill_console img:first-child:hover {
        transform: rotate(90deg);
        cursor: pointer;
    }

    .bill_start img:last-child {
        position: absolute;
        width: 25px;
        height: 25px;
        right: 60px;
    }

    .print {
        position: absolute;
        height: 25px;
        width: 25px;
        right: 70px;
        transition: all .2s;
    }


    .print:hover {
        scale: 1.5;
        cursor: pointer;
    }

    .bill_console img:last-child {
        position: absolute;
        bottom: 0;
        mix-blend-mode: multiply;
        left: 100px;
        width: 200px;
        height: 200px;
    }

    .line {
        width: 1px;
        height: 25px;
        position: absolute;
        background-color: #28365560;
        right: 63px;
        opacity: 80%;
    }

    .boder {
        height: 1px;
        width: 100%;
        background-color: #2836555e;
        position: absolute;
        top: 38px;
    }

}


.select_staff {
    margin: 20px;
}

.staff_label {
    font-size: 16px;
    margin-bottom: 8px;
    display: block;
}

select {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    box-sizing: border-box;
    cursor: pointer;

}

option {
    background-color: #fff;
    color: #333;
    border-radius: 0;
    
}