<div *ngIf="($loadingbill | async) === true">
    <!-- Hiển thị thông báo loading -->
    Loading...
  </div>
  
  <div *ngIf="(issuccess) === true" class="success-alert">
    Request successful!
    <div class="timeline"></div>
  </div>
  
  <div *ngIf="(iserror ) !== null" class="error">
    <!-- Hiển thị thông báo khi có lỗi -->
    Error: {{ iserror.status}} - {{iserror.error}}
    <div class="timeline"></div>
  </div>
<div class="item_component">
    <div class="item_body">
        <div class="add_bill">
            <button type="button" (click)="onAddBill()" class="add_bill-btn">Add
                Bill</button>
        </div>
        <div class="item_list" *ngIf="$item | async as items">
            <div class="item_card"
                *ngFor="let item of items.slice(currentPage * itemsPerPage, (currentPage + 1) * itemsPerPage)">
                <img width="64" height="64"
                    [src]="item.image_link" alt="{{ item.name }}" />
                <div class="content">
                    <h2 class="item_name">{{item.name}} - {{item.quantity}}</h2>
                    <p class="item_code">{{item.code}}</p>
                    <p class="item_price">Price: {{item.price}}</p>
                </div>
                <div class="item_action">
                    <button  type="button" (click)="onAddToBill(item)" [disabled]="!showOrHidenBillConsole || item.quantity === 0" >Add</button>
                    <div class="line"></div>
                </div>
            </div>
        </div>
        <div *ngIf="$item | async as items" class="paginator">
            <mat-paginator
                [length]="length"
                [pageSize]="itemsPerPage"
                (page)="onPageChange($event)">

            </mat-paginator>
        </div>

    </div>

    <div #bill
        [ngClass]="{'bill_console' : true, 'active':showOrHidenBillConsole}">
        <img class="close" width="25" height="25"
            src="https://img.icons8.com/stencil/25/delete-sign.png"
            alt="delete-sign" (click)="onHideAddBill()" />
        <img class="print" width="30" height="30"
            src="https://img.icons8.com/dotty/30/print.png" alt="print"
            (click)="onPrint()" />
        <img class="save-bill" src="../../../assets/images/icons8-save-30.png" alt="save--v1" (click)="onSaveBill()"/>
        

          <div>
            <div class="bill_header">
                <div class="select_staff">
                    <label class="staff_label" for="staffSelect">Employee:</label>
                    <select id="staffSelect" name="staffSelect" [(ngModel)]="selectedStaff" (change)="onStaffSelect($event)">
                      <option *ngFor="let staff of onlineStaffs" [value]="staff.id">
                        {{ staff.username }}
                      </option>
                    </select>
                  </div>                  
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                      <mat-label>Note</mat-label>
                      <input matInput #message maxlength="256" placeholder="Ex. take awake...">
                      <mat-hint align="start"><strong>Add note here</strong> </mat-hint>
                      <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
                    </mat-form-field>
                  </form>
            </div>
            <h2>BIll</h2>
            <p> Total: {{ billview.Total }}</p>
        
            <!-- Iterate over the items property in each Bill object -->
            <table>
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>total</th>
                </tr>
                <tr *ngFor="let billItem of billview.items" class="table_body">
                    <td>{{ billItem.name }}</td>
                    <td>{{ billItem.quantity }}</td>
                    <td>{{ billItem.price }}</td>
                    <td>{{ billItem.total }}</td>
                    
                </tr>
            </table>
            <h2>Total : {{billview.Total}}</h2>
        </div>
        <div class="bill-end">
            <p>QR pay:</p>
            <img class="qr-pay"
                [src]="'https://api.vietqr.io/image/970423-0764320293-7885c1e.jpg?accountName=Shop1&amount=' + billview.Total"
                alt="bank">
            <p>Thank you !!!</p>
        </div>
    </div>

</div>
