
<section class="bg-blue-50  h-screen">
    <div class="pt-8 col col-12">
        <h1 class="m-0 text-center ">Sign up</h1>
    </div>
    <div class="card col col-12 absolute  ">
        <form action class="max-w-30rem mx-auto" #authForm="ngForm"
            (ngSubmit)="onSubmit(authForm)">
            <div class="gap-3 mt-5 max-w-full md:flex ">
                <span class="p-float-label">
                    <input pInputText type="text" id="username"
                        class="text-base text-color surface-overlay p-3 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
                    <label htmlFor="username">Username</label>
                </span>
                <span class="p-float-label mt-5 md:mt-0">
                    <input pInputText type="text" id="phone"
                        class="text-base text-color surface-overlay p-3 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
                    <label htmlFor="username">Phone</label>
                </span>
            </div>
            <div class=" mt-5 md:max-w-28rem ">
                <span class="p-float-label ">
                    <input pInputText type="email" (input)="onEmailChange($event)"
                        id="email" name="email" [(ngModel)]="email" required
                        pattern="^[a-z][a-zA-Z0-9_]*(\.[a-zA-Z][a-zA-Z0-9_]*)?@[a-z][a-zA-Z-0-9]*\.[a-z]+(\.[a-z]+)?$"
                        class="text-base text-color surface-overlay p-3 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                        required email />
                    <label htmlFor="email">email</label>

                </span>
            </div>

            <div class="   gap-3 mt-5 max-w-full md:flex">
                <span class="p-float-label  ">
                    <input pInputText type="password"  class="text-base text-color surface-overlay p-3 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full  md:col-6"/>
                   
                    <label htmlFor="password"> Password</label>
                </span>
                <span class="p-float-label mt-5 md:mt-0 ">
                    <input pInputText  type="password" class="text-base text-color surface-overlay p-3 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full  md:col-6"/> 
                    <label htmlFor="password"> Password Confirm</label>
                </span>

            </div>
            <div class="submit max-w-28rem">
                <button type="submit" class="btn" [disabled]="!authForm.valid">Log
                    in</button>
            </div>
        </form>
        <div class="max-w-30rem mx-auto mt-3">

            <a routerLink="/auth" >Back to login</a>
        </div>
    </div>
</section>
