<section class="grid h-full">
    <div class=" card col col-12 ">
        <div class="max-w-full flex">
            <div class="ml-8 mt-7 text-center max-w-30rem">
                <h1 class="text-blue-400 text-5xl">Choose a powerful solution for your
                    Start-Up</h1>
                <p>lklklklk klklklk lklklkl klklklk klklkl klklklk klklk </p>
                <div class="mt-8">
                    <a routerLink="/auth" class="btn">Start</a>
                </div>
            </div>
            <div class="  ml-8 mt-5 ">
                <img src="../../assets/images/MHK23.png" alt="br" class="mx-auto">
            </div>
        </div>
        
    </div>
</section>
