<section class="my-5">
    <div class=" flex">
        <div>
            <h2 class="font-bold">Item payment</h2>
            <div>

            </div>
            <div class="border-bottom-1">

            </div>
            <h3> Total: 2$</h3>
        </div>
        <div class=" px-5">
            <div>
                <h1 class="font-bold">Checkout</h1>
            </div>
            <div>
                <p class="font-bold">Email</p>
                <div class="flex align-items-center gap-2">
                    <p>abc@gmail.com</p>
                    <a class=" no-underline text-blue-600">Change email</a>
                </div>
            </div>
            <div>
                <p class="font-bold">Contact information</p>
                <div class=" flex align-items-center gap-2">
                    <p>abc@gmail.com</p>
                    <a class=" no-underline text-blue-600">Change</a>
                </div>
            </div>
            <div>
                <p>Pickup infomation</p>
                <div class="flex align-items-center gap-2">
                    <p>abc@gmail.com</p>
                    <a class=" no-underline text-blue-600">Change method</a>
                </div>
            </div>
            <div class>
                <p class=" font-bold">Payment infomation</p>
                <div
                    class=" flex space-between w-30rem border-2 px-5 py-3 border">
                    <div class="flex">
                        <input type="checkbox" class=" border-blue-600">
                        <p class="font-bold text-xl"><span class="text-blue-800">Pay</span><span class="text-blue-600">Pal</span></p>
                    </div>
                    <div class="flex align-items-center">
                        <img src alt="PayPal-logo">
                        <img src alt="Visa-logo">
                        <img src alt="abc-logo">
                        <img src alt="abc-logo">
                    </div>
                </div>
                <button class="pay">Pay with PayPal</button>
            </div>
            <form>

            </form>
        </div>
    </div>
</section>
