<app-scrollable [categoriesMenu]="iCategoriesMenu"
    (categorySelected)="onCategorySelected($event)"></app-scrollable>
<div *ngIf="showDetail && !editMode" class="detail_item">
    <div class="edit_item-start">
        <h2 (click)="onCloseDetail()">Back</h2>
        <img width="40" height="40" src="https://img.icons8.com/stickers/100/create-new.png" alt="create-new" (click)="onEdit()" class=" cursor-pointer"/>
    </div>
    <div class="edit_body">
        <div class="image">
            <img *ngIf="!itemDetail?.image_link" width="450" height="450" src="https://img.icons8.com/stickers/450/select-none.png" alt="select-none"/>
            <img *ngIf="itemDetail?.image_link" width="450" height="450" src="{{itemDetail?.image_link}}" alt="select-none"/>
        </div>
        <div class="product_info">
            <h2>{{itemDetail?.name}} </h2>
            <p>code: {{itemDetail?.code}}</p>
            <p>Quantity: {{itemDetail?.quantity}}</p>
            <p>Cost:{{itemDetail?.cost}}</p>
            <p>Price: {{itemDetail?.price}} </p>
        </div>
    </div>
</div>

<div *ngIf="showDetail && editMode" class="edit_item">
    <div class="edit_item-start">
        <h2 (click)="onCloseDetail()">Edit</h2>
        <img width="40" height="40" src="https://img.icons8.com/stickers/100/save.png" alt="save" (click)="onSave(EditItemForm)" class=" cursor-pointer"/>
    </div>
   
    <div class="edit_body">
        <div class="image">
            <img *ngIf="itemDetail?.image_link" width="450" height="450" src="{{itemDetail?.image_link}}" alt="select-none"/>
        </div>
        <div class="product_info">
            <form #EditItemForm="ngForm" (ngSubmit)="onSubmit(EditItemForm)">
                <div class="form-field">
                    <input type="text" class="form-input" placeholder=" "
                        required itemname id="itemname" name="itemname" [(ngModel)]="itemEdited.name">
                    <label for="itemname" class="form-label">Item's name</label>
                </div>
                <div class="form-field">
                    <input type="text" class="form-input" placeholder=" "
                        required code id="code" name="code" [(ngModel)]="itemEdited.code">
                    <label for="code" class="form-label">Item's code</label>
                </div>
                <div class="form-field">
                    <input type="text" class="form-input" placeholder=" "
                        required description id="description" name="description"
                        [(ngModel)]="itemEdited.description">
                    <label for="description" class="form-label">Description</label>
                </div>
                <div class="form-field">
                    <input type="text" class="form-input" placeholder=" "
                        required cost id="cost" name="cost" [(ngModel)]="itemEdited.cost">
                    <label for="cost" class="form-label">Item's cost</label>
                </div>
                <div class="form-field">
                    <input type="text" class="form-input" placeholder=" "
                        required price id="price" name="price" [(ngModel)]="itemEdited.price">
                    <label for="price" class="form-label">Item's price</label>
                </div>
                <div class="form-field">
                    <input type="number" class="form-input" placeholder=" "
                        required quantity id="quantity" name="quantity" [(ngModel)]="itemEdited.quantity">
                    <label for="quantity" class="form-label">Quantity</label>
                </div>
                <div class="add_img">
                    <img *ngIf="!selectedImage" width="150" height="150"
                        src="https://img.icons8.com/plasticine/100/image.png"
                        alt="image" />
                    <img *ngIf="selectedImage" width="200" height="200"
                        [src]="selectedImage" alt="image" />
                    <div class="add_button">
                        <input type="file" id="itemimg" itemimg name="itemimg"
                            ngModel accept="image/*"
                            (change)="onFileSelected($event)" #fileInput>
                        <label for="itemimg">Choose Image</label>
                        <button type="submit">Add</button>
                    </div>
    
                </div>
    
            </form>
            
        </div>

    </div>
</div>
<div class="item_page" >
    <div [ngClass]="{'add-new-category' : true, 'active': addNewCategory}">
        <form #addCategoryForm="ngForm" (ngSubmit)="onAddCategoty(addCategoryForm)" action class="add-new-category_form">
            <input type="text" placeholder class="add-new-category_input" name="category" id="category" ngModel
                placeholder="Category's name">

            <button type="submit" class="add-new-category_btn-add"><img
                    width="20px" height="20px"
                    src="https://res.cloudinary.com/dm4renyes/image/upload/v1696264176/icons8-plus-math-40_xrc07l.png"
                    alt></button>
            <button type="button" (click)="onCancelAdd()"
                class="add-new-category_btn-cancel"><img width="20px"
                    height="20px"
                    src="https://res.cloudinary.com/dm4renyes/image/upload/v1696264176/icons8-multiply-40_x6ocnh.png"
                    alt></button>
        </form>
    </div>
    <div class="search_box">
        <input type="text" class="search-text">
        <img width="35" height="35"
            src="https://img.icons8.com/cotton/35/search--v2.png"
            alt="search--v2" />
        <button *ngIf="!createMode" class="btn-create" type="button"
            (click)="onCreate()">New</button>
        <button *ngIf="createMode" class="btn-create" type="button"
            (click)="onCancel()">Cancel</button>
    </div>
    <div class="item_list" *ngIf="!editMode">
        <div class="item_card" *ngFor="let item of $item | async">
            <img width="64" height="64"
                [src]="item.image_link" alt="{{ item.name }}" />
            <h2 class="item_name">{{item.name}}</h2>
            <p class="item_code">{{item.code}}</p>
            <p class="item_price">{{item.price}}</p>
            <p class="item_price">{{item.cost}}</p>
            <div class="item_action">
                <a class=" cursor-pointer" (click)="onOpentDetail(item)">Detail</a>
                <a href>Delete</a>
            </div>
        </div>
    </div>
    <div [ngClass]="{'item_console-create' : true , 'active': createMode}">
        <form #addItemForm="ngForm" (ngSubmit)="onSubmit(addItemForm)">
            <div class="form-field">
                <input type="text" class="form-input" placeholder=" "
                    required itemname id="itemname" name="itemname" ngModel>
                <label for="itemname" class="form-label">Item's name</label>
            </div>
            <div class="form-field">
                <input type="text" class="form-input" placeholder=" "
                    required code id="code" name="code" ngModel>
                <label for="code" class="form-label">Item's code</label>
            </div>
            <div class="form-field">
                <input type="text" class="form-input" placeholder=" "
                    required description id="description" name="description"
                    ngModel>
                <label for="description" class="form-label">Description</label>
            </div>
            <div class="form-field">
                <input type="text" class="form-input" placeholder=" "
                    required cost id="cost" name="cost" ngModel>
                <label for="cost" class="form-label">Item's cost</label>
            </div>
            <div class="form-field">
                <input type="text" class="form-input" placeholder=" "
                    required price id="price" name="price" ngModel>
                <label for="price" class="form-label">Item's price</label>
            </div>
            <div class="form-field">
                <input type="number" class="form-input" placeholder=" "
                    required quantity id="quantity" name="quantity" ngModel>
                <label for="quantity" class="form-label">Quantity</label>
            </div>
            <div class="add_img">
                <img *ngIf="!selectedImage" width="150" height="150"
                    src="https://img.icons8.com/plasticine/100/image.png"
                    alt="image" />
                <img *ngIf="selectedImage" width="200" height="200"
                    [src]="selectedImage" alt="image" />
                <div class="add_button">
                    <input type="file" id="itemimg" itemimg name="itemimg"
                        ngModel accept="image/*"
                        (change)="onFileSelected($event)" #fileInput>
                    <label for="itemimg">Choose Image</label>
                    <button type="submit">Add</button>
                </div>

            </div>

        </form>

    </div>
</div>
