.employee_page{
    min-height: 100vh;
    height: auto;
}

.employee_page-header{
    height: 200px;
    width: 100%;
    padding: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    gap: 100px;
    padding: 20px 50px;
}

.store{
    width: 150px;
    height: 100px;
    transition: all 5s;
}

.employee_page-body{
    padding: 30px 50px;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
    position: relative;
}

.content-start{
 display: flex;
 flex-wrap: wrap;
 gap: 50px;
}



.content-end{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-field {
    position: relative;
    margin-bottom: 20px;
}

.form-input {
    border: 1px solid #eee;
    border-radius: 4px;
    width: 175px;
    height: 56px;
    padding: 0 20px;
    transition: 0.2s ease;

}

.form-input:focus {
    border-color: #1d8104;
    outline-color: #1d8104;
    color: #1d8104;
}

.form-label {
    position: absolute;
    top: 15%;
    transform: translateY(50%);
    left: 21px;
    user-select: none;
    color: #999;
    pointer-events: none;
    transition: .2s ease;
}

.form-input:not(:placeholder-shown)+.form-label,

.form-input:focus+.form-label {
    top: -20px;
    left: 16px;
    padding: 0 5px;
    display: inline-block;
    background-color: white;
}
