<div class="footer">
    <div class="about">
        <h2>Wich APP</h2>
        <h4>help more </h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam ullam quos quidem accusantium, eius unde adipisci iusto cumque ut, in vero explicabo quae nemo sit tempora inventore et earum iste?</p>
    </div>
    <div class="service">
        <h2>Services</h2>
        <div class="flex gap-8 justify-content-center align-items-center">
            <a routerLink="" class=" no-underline mt-3 text-white">Service 1</a>
            <a routerLink="" class=" no-underline mt-3 text-white">Service 2</a>
            <a routerLink="" class=" no-underline mt-3 text-white">Service 3</a>
        </div>
        <div class="flex gap-8 justify-content-center align-items-center">
            <a routerLink="" class=" no-underline mt-3 text-white">Service 4</a>
            <a routerLink="" class=" no-underline mt-3 text-white">Service 5</a>
            <a routerLink="" class=" no-underline mt-3 text-white">Service 6</a>
        </div>
        <div class="flex gap-8 justify-content-center align-items-center">
            <a routerLink="" class=" no-underline mt-3 text-white">Service 7</a>
            <a routerLink="" class=" no-underline mt-3 text-white">Service 8</a>
            <a routerLink="" class=" no-underline mt-3 text-white">Service 9</a>
        </div>
    </div>
    <div class="contact">
        <h2>Contact Us</h2>
        <input type="text" class=" border-1 px-2 py-3 my-2 border-round w-full" placeholder="Your email or phone">
        <textarea name="" id="" cols="21" rows="5" class="border-round mb-3"></textarea>
        <button class=" px-2 py-3 border-round bg-blue-200 border-0 shadow-1 text-white font-bold"> Submit</button>
    </div>
    <div class="col col-12 text-center bg-gray-900 text-white">@copyright 2023 by wichApp company</div>
</div>
