.store-page {
    height: auto;
    max-height: 100%;
    font-family: 'Comfortaa', cursive;
    /* overflow-y: auto; */
}

.store-page-start{
    width: 100%;
    margin: 0;
    padding: 30px;
    display: flex;
    gap: 30px;
}

.stores{
    width: 200px;
    height: 100px;
    display: flex;
    background: #D0E1F9;
    justify-content: center;
    align-items: center;
    gap:30px;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
}

.create{
    width: 200px;
    height: 100px;
    display: flex;
    background: #44c767;
    justify-content: center;
    align-items: center;
    gap:30px;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
}

.staffs{
    width: 200px;
    height: 100px;
    display: flex;
    background: #979fe1;
    justify-content: center;
    align-items: center;
    gap:30px;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
}

.stores h3 {

    text-align: center;
    color: #283655;
    font-size: 40px;
    font-weight: bold;
}

.create h3 {

    text-align: center;
    color: #283655;
    font-size: 24px;
    font-weight: bold;
}

.staffs h3 {

    text-align: center;
    color: #283655;
    font-size: 40px;
    font-weight: bold;
}

.store-body {
    height: auto;
    display: flex;
    min-height: 800px;
}

.stores_section {
    height: auto;
    width: 100%;

}

.detail{
    margin: 10px;
    border-radius: 12px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    max-width: 375px;
}