.store-page {
    height: auto;
    max-height: 100%;
    font-family: 'Comfortaa', cursive;
    /* overflow-y: auto; */
}

.store-body {
    height: auto;
    display: flex;
    min-height: 800px;
}

.stores_section {
    height: auto;
    width: 100%;

}