<section class="store-page">
    <div class="store-page-start">
        <div class="stores">
            <img width="70" height="70"
                src="https://img.icons8.com/stickers/100/grocery-store.png"
                alt="grocery-store" />
            <h3>4</h3>
        </div>
        <div class="staffs"><img width="70" height="70"
                src="https://img.icons8.com/stickers/70/employee-card--v1.png"
                alt="employee-card--v1" /><h3>5</h3></div>
        <div class="create"><a routerLink="create"
                class="cursor-pointer no-underline">
                <h3>Create new Store</h3>
            </a></div>
    </div>
    <div class="store-body">
        <div class="col col-4 bg-bluegray-600 p-0 size store detail " *ngIf="selectedStore">
            <div class=" pt-8 px-5">
                <div class=" text-center text-white">
                    <h2>{{ selectedStore.shopname }}</h2>
                </div>
                <div class="w-full h-15rem bg-primary-100">

                </div>
                <div class="text-white mt-5">
                    <p>Address: {{ selectedStore.address }}</p>
                    <p>Service: {{ selectedStore.category }}</p>
                    <p>Description: {{ selectedStore.description }}</p>
                </div>
                <button
                    class=" w-full border-round bg-bluegray-800 text-white px-8 py-3 mt-8 hover:bg-bluegray-600"
                    (click)="goToShop()">Go
                    to Store</button>
            </div>
        </div>
        <div class="stores_section">
            <app-list-store (storeClicked)="onStoreClicked($event)"></app-list-store>
        </div>
    </div>
</section>
