<section>
    <div class="week_bar"></div>
    <div class="day_bar"></div>
    <div class="work_body">
        <div class="work_body-staff_schedule">
            <div class="staff_schedule-table">
                <table>
                    <caption>
                        staff work schedule
                    </caption>

                    <tr>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Status</th>
                        <th>Time login</th>
                        <th>Delay</th>
                    </tr>
                    
                    <tr>
                        <td>Staff 1</td>
                        <td>image</td>
                        <td>staff01@gmail.com</td>
                        <td>01236547995</td>
                        <td>working</td>
                        <td>06:30:00</td>
                        <td>00:30:00</td>
                    </tr>
                    <tr>
                        <td>Staff 1</td>
                        <td>image</td>
                        <td>staff01@gmail.com</td>
                        <td>01236547995</td>
                        <td>working</td>
                        <td>06:30:00</td>
                        <td>00:30:00</td>
                    </tr>
                    <tr>
                        <td>Staff 1</td>
                        <td>image</td>
                        <td>staff01@gmail.com</td>
                        <td>01236547995</td>
                        <td>working</td>
                        <td>06:30:00</td>
                        <td>00:30:00</td>
                    </tr>
                    <tr>
                        <td>Staff 1</td>
                        <td>image</td>
                        <td>staff01@gmail.com</td>
                        <td>01236547995</td>
                        <td>working</td>
                        <td>06:30:00</td>
                        <td>00:30:00</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="work_body-register_schedule">

        </div>
    </div>
</section>
